body{
    margin: 0;
    background-color: black;
    text-align: center;
}

h1{
    margin-top: 0;
}

.top-container{
    background-color: purple;
}

.middle-container{
    background-color: gray;
    width: 30%;
    margin: auto;
}

.bottom-container{
    line-height: 3;
    border-style: dashed;
    border-color: purple;
    border-width: 7px;
    margin: 60px 0;
}

.intro{
    width: 70%;
    margin: auto;
    color: white;
}

p{
    color: white;
}

.firstimage{
    position: absolute;
    border-style: dashed;
    border-radius: 150px;
    border-color: purple;
    border-width: 4px;
    width: 25%;
    right: 50px;
    bottom: 200px;

}

.secondimage{
    position: absolute;
    border-style: dashed;
    border-radius: 150px;
    border-color: purple;
    border-width: 4px;
    width: 25%;
    left: 50px;
    bottom: 200px;
}
